{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}



{% block content %}
 
    
    <!--Tableau de bord de l'utilisateur auquel figurent les différents post de la communauté litrevu-->

    <div class="actions">
        <a href="{% url 'request_ticket' %}">
            <button class="style-button">Demander une critique</button>
        </a>    
        
            <a href="{% url 'review_without_ticket' %}">
                <button class="style-button">Créer une critique</button>
            </a>        
    </div>

    <div class="posts-container">
        {% for post in posts %}
            {% if post.type == 'ticket' %}
                <div class="ticket">
                    <h3 class="title-post">
                        {% if request.user.username == post.user.username %}
                            Vous avez demandé une critique
                        {% else %}
                            {{ post.user.username }} a demandé une critique
                        {% endif %}
                    </h3>
                    <p>{{ post.description }}</p>
                    {% if post.image %}
                        <div class="image-container">
                            <img src="{{post.image.url}}" alt="Image pour le ticket {{ post.title }}" class="ticket-image">
                        </div>
                    {% endif %}
                    <span class="review-date">{{ post.created_at|date:"H:i, d M Y"}}</span>
                    {% if post.user != request.user and not post.reviews.exists %}                       
                        <a href="{% url 'review_with_ticket' ticket_id=post.id  %}">
                            <button class="style-button resize">Créer une critique</button>
                        </a>                        
                    {% endif %}                    
                </div>
                
            {% elif post.type == 'review' %}
                <div class="review">
                    <div class="review-header">
                        <h3 class="title-post">
                            {% if request.user.username == post.user.username %}
                                Vous avez publié une critique
                            {% else %}
                                {{ post.user.username }} a publié une critique
                            {% endif %}
                        </h3>                                        
                            
                        <span class="review-date">{{ post.created_at|date:"H:i, d M Y" }}</span>
                    </div>
                    <p class="review-title"> {{ post.review_title }} - 

                        {% for _ in post.full_stars %}
                            <span style="color: black; font-size: 1.2rem;" class="review-rating">&#9733;</span>
                        {% endfor %}
                        {% for _ in post.empty_stars %}
                            <span style="color: lightgray; font-size: 1.2rem;" class="review-rating">&#9734;</span>
                        {% endfor %}
                    </p>
                    <p>{{ post.content }}</p>

                    {% if post.image %}
                        <div class="image-container">
                            <img src="{{ post.image.url }}" alt="Image de la critique {{ post.review_title }}" class="ticket-image*">
                        </div>
                    {% endif %}

                    {% if post.ticket %}
                        <div class="associated-ticket">
                            <p>Ticket - {{ post.ticket.user.username }}</p>
                            <h4>{{ post.ticket.title }}<h4>                            
                            {% if post.ticket.image %}
                                <div class="image-container">
                                    <img src="{{ post.ticket.image.url }}" alt="Image pour le ticket {{ post.ticket.title }}" class="ticket-image">
                                </div>                    
                                {% endif %}
                        </div>
                    {% endif %}                
                    
                </div>                
            {% endif %}                    
        {% endfor %}
    </div>
    
   

{% endblock %}