{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}


{% block menu %}
<nav class="menu">
    <ul class="menu-list">
        <li><a href="">Flux</a></li>
        <li><a href="">Posts</a></li>
        <li><a href="">Abonnements</a></li>
        <li><a href="#" onclick="document.getElementById('logout-form').submit();">Se déconnecter</a></li>
        <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">{% csrf_token %}</form>
    </ul>



</nav>

{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>Vous êtes connecté !</h1>
    


    <div class="actions">
        <a href="{% url 'request_ticket' %}">
            <button class="style-button">Demander une critique</button>
        </a>    
        <a href="{% url 'review_without_ticket' %}">
            <button class="style-button">Créer une critique</button>
        </a>
    </div>

    <div class="posts-container">
        {% for post in posts %}
            {% if post.type == 'ticket' %}
                <div class="ticket">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                    {% if post.image %}
                        <div class="image-container">
                            <img src="{{post.image.url}}" alt="Image pour le ticket {{ post.title }}" class="ticket-image">
                        </div>
                    {% endif %}
                    <small>Posté par {{ post.user.username }} le  {{ post.created_at }}</small>
                    <a href="{% url 'review_with_ticket' post.id %}">
                        <button class="style-button">Créer une critique</button>
                    </a>
                    <a href="{% url 'ticket_edit' post.id %}"><button>Modifier</button></a>
                    <a href="{% url 'ticket_delete' post.id %}"><button>Supprimer</button></a>
                </div>
            {% elif post.type == 'review' %}
                <div class="review">
                    {% if post.ticket %}
                        <h2>{{ post.ticket.title }}</h2>
                    {% else %}
                        <h2>Critique indépendante</h2>
                    {% endif %}
                    <p><strong>Critique de {{ post.user.username }}</strong></p>
                    <p>{{ post.content }}</p>
                    <p>Note : {{ post.rating }} / 5</p>
                    <small>Posté le {{ post.created_at }}</small>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    
    <div class="logout-button">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="style-button">Se déconnecter</button>
        </form>
    </div>
</div>

{% endblock %}