{% extends 'base.html' %}

{% block content %}
<!--Création de critique en réponse à un ticket-->
<h2 class="title-ticket">Créer une critique</h2>
<div class="ticket-form">
    <p>Vous êtes en train de poster en réponse à :</p>
    <div class="ticket-details">
        <div class="ticket-header">
            <p> {{ ticket.user.username }} a demandé une critique</p>
            <span class="ticket_date">{{ ticket.created_at }}</span>
        </div>
        <h3 class="ticket-title">{{ ticket.title }}</h3>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="Image pour le ticket {{ticket.title}}" class="ticket-image">
        {% endif %}        
    </div>

    <hr class="separator-line">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Critique</p>

        <div>
            <label for="id_title">Titre</label>
            {{ form.review_title }}
        </div>

        <br>

        <div class="rating-container">
            <label for="rating">Note</label>
            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" id="rating-0" name="rating" value="0">
                    <label for="rating-0">- 0</label>
                </div>
                
                <div class="radio-item">
                    <input type="radio" id="rating-1" name="rating" value="0">
                    <label for="rating-1">- 1</label>
                </div>
        
                <div class="radio-item">
                    <input type="radio" id="rating-2" name="rating" value="2">
                    <label for="rating-2">- 2</label>
                </div>
        
                <div class="radio-item">
                    <input type="radio" id="rating-3" name="rating" value="3">
                    <label for="rating-3">- 3</label>
                </div>
        
                <div class="radio-item">
                    <input type="radio" id="rating-4" name="rating" value="4">
                    <label for="rating-4">- 4</label>
                </div>
                
                <div class="radio-item">
                    <input type="radio" id="rating-5" name="rating" value="5">
                    <label for="rating-5">- 5</label>
                </div>
            </div>

        <div>
            <label for="id_content">Commentaire</label>
            {{ form.content }}
        </div>


        <div class="buton-container">
        <button type="submit" class="style-button resize">Envoyer</button>
        </div>
    </form>
</div>

{% endblock %}