{% extends 'base.html' %}


<!--Section des posts de l'utilisateur-->
{% block content %}
<div class="dashboard-container">   
    
    <div class="actions">
        <a href="{% url 'request_ticket' %}">
            <button class="style-button">Demander une critique</button>
        </a>    
        <a href="{% url 'review_without_ticket' %}">
            <button class="style-button">Créer une critique</button>
        </a>
    </div>

    <div class="posts-container">
        {% for post in user_posts %}
            {% if post.type == 'ticket' %}
            <div class="ticket">
                <h3 class="title-post">Vous avez demandé une critique</h3>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <div class="image-container">
                        <img src="{{post.image.url}}" alt="Image pour le ticket {{ post.title }}" class="ticket-image">
                    </div>
                {% endif %}
                <span class="review-date">{{ post.created_at|date:"H:i, d M Y"}}</span>
                    
                
                    
                <a href="{% url 'ticket_edit' post.id %}"><button class="style-button resize btn-modifier">Modifier</button></a>
                <a href="{% url 'post_delete' model='ticket' pk=post.id %}"><button class="style-button resize" >Supprimer</button></a>
                
                </div>
            {% elif post.type == 'review' %}
            <div class="review">
                <div class="review-header">
                    <h3 class="title-post">
                        {% if request.user.username == post.user.username %}
                            Vous avez publié une critique
                        {% else %}
                            {{ post.user.username }} a publié une critique
                        {% endif %}
                    </h3>                                        
                        
                    <span class="review-date">{{ post.created_at|date:"H:i, d M Y" }}</span>
                </div>
                <p class="review-title"> {{ post.review_title }} - 

                    {% for _ in post.full_stars %}
                        <span style="color: black; font-size: 1.2rem;" class="review-rating">&#9733;</span>
                    {% endfor %}
                    {% for _ in post.empty_stars %}
                        <span style="color: lightgray; font-size: 1.2rem;" class="review-rating">&#9734;</span>
                    {% endfor %}
                </p>
                <p>{{ post.content }}</p>

                {% if post.image %}
                        <div class="image-container">
                            <img src="{{ post.image.url }}" alt="Image de la critique {{ post.review_title }}" class="ticket-image">
                        </div>
                {% endif %}
                

                {% if post.ticket %}
                    <div class="associated-ticket">
                        <p>Ticket - {{ post.ticket.user.username }}</p>
                        <h4>{{ post.ticket.title }}<h4>                            
                        {% if post.ticket.image %}
                            <div class="image-container">
                                <img src="{{ post.ticket.image.url }}" alt="Image pour le ticket {{ post.ticket.title }}" class="ticket-image">
                            </div>                    
                            {% endif %}
                    </div>
                {% endif %}
                
                <div class="buttons_reviews">
                    {% if post.ticket %}
                        <a href="{% url 'review_edit' post.id %}"><button class="style-button resize">Modifier</button></a>
                    {% else %}
                        <a href="{% url 'review_update_without_ticket' post.id %}"><button class="style-button resize">Modifier</button></a>
                    {% endif %}
                    <a href="{% url 'post_delete' model='review' pk=post.id %}"><button class="style-button resize">Supprimer</button></a>
                </div>
                
            </div> 
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}