<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'litrevu/styles.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>
    <!--Layout principale de litrevu qui sera utiliser sur tous les templates du site-->
     <div class="container">
        <header class="title-section">            
                <h1 class="title">LITReview</h1>
                {% if user.is_authenticated %}                
                <nav class="menu">
                    <ul class="menu-list">
                        <li><a href="{% url 'dashboard' %}">Flux</a></li>
                        <li><a href="{% url 'user_posts' %}">Posts</a></li>
                        <li><a href="{% url 'manage_follows' %}">Abonnements</a></li>
                        <li><a href="#" onclick="document.getElementById('logout-form').submit();">Se déconnecter</a></li>
                        <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">{% csrf_token %}</form>
                    </ul>       
                </nav>
                {% endif %}    
           
        </header>

        <main class="content-section">
            {% block content %}

            {% endblock %}
        </main>
     </div>
    
</body>
</html>